[submodule "osu-database-reader"]
	path = osu-database-reader
	url = https://github.com/otaku-overclocks/osu-database-reader.git
[submodule "OsuBeatmapDownloadLib"]
	path = OsuBeatmapDownloadLib
	url = https://github.com/EgorDm/OsuBeatmapDownloadLib.git
