<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="osu_collection_manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    <section name="aws" type="Amazon.AWSSection, AWSSDK.Core"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="OsuExecutablePath" value="" />
    <add key="OsuTExecutablePath" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
      <aws region="ap-northeast-1" profileName="Public Access">
  <logging logTo="SystemDiagnostics, Console" logResponses="Always"/>
  <s3 useSignatureVersion4="true" />  
</aws>
    <osu_collection_manager.Properties.Settings>
      <setting name="OsuPath" serializeAs="String">
        <value />
      </setting>
      <setting name="BloodcatThreadCount" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="ShownWarning" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="ShownLogin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TourneyMLUser" serializeAs="String">
        <value />
      </setting>
      <setting name="TourneyMLToken" serializeAs="String">
        <value />
      </setting>
      <setting name="TourneyMLRefreshToken" serializeAs="String">
        <value />
      </setting>
      <setting name="TourneyMLTokenExpiry" serializeAs="String">
        <value />
      </setting>
      <setting name="TourneyMLLoggedOn" serializeAs="String">
        <value>False</value>
      </setting>
    </osu_collection_manager.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>